VITE_API_URL=/api
VITE_APPS_SCRIPT_URL=/api/apps-script
VITE_GOOGLE_CLIENT_ID=TU_CLIENT_ID_WEB.apps.googleusercontent.com
VITE_GOOGLE_ALLOWED_DOMAIN=itti.digital
APPS_SCRIPT_URL=https://script.google.com/macros/s/TU_DEPLOY_ID/exec
